.show-on-scroll {
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.5s;
  will-change: transform opacity;
}

.is-visible {
  opacity: 1;
  transform: translateY(0%);
}

.u-hidden {
  display: none !important;
}

.u-mobile {
  display: none;

  @include respond(mini-desktop) {
    display: block;
  }
}